// @include font('BravoRGRegular', 'BgavoRGRegular', '400', 'normal');
// @include font('ceremonious', 'ceremonious_one', '400', 'normal');
// @include font('PFDin', 'pfdintextcondpro-regular', '400', 'normal');
// @include font('PFDin', 'pfdintextcondpro-medium', '500', 'normal');

@font-face {
  font-family: "BravoRG";
  src: url("../fonts/BravoRGRegular.eot");
  src: url("../fonts/BravoRGRegular.woff2") format("woff2"), url("../fonts/BravoRGRegular.woff") format("woff"),
    url("../fonts/BravoRGRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ceremonious";
  src: url("../fonts/ceremonious_one.eot");
  src: url("../fonts/ceremonious_one.woff2") format("woff2"), url("../fonts/ceremonious_one.woff") format("woff"),
    url("../fonts/ceremonious_one.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PFDin";
  src: url("../fonts/pfdintextcondpro-medium.eot");
  src: url("../fonts/pfdintextcondpro-medium.woff2") format("woff2"),
    url("../fonts/pfdintextcondpro-medium.woff") format("woff"),
    url("../fonts/pfdintextcondpro-medium.ttf") format("truetype");
  font-weight: 400, 500, 700;
  font-style: normal;
}

@font-face {
  font-family: "PFDin";
  src: url("../fonts/pfdintextcondpro-regular.eot");
  src: url("../fonts/pfdintextcondpro-regular.woff2") format("woff2"),
    url("../fonts/pfdintextcondpro-regular.woff") format("woff"),
    url("../fonts/pfdintextcondpro-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow:regular,700&display=swap&subset=cyrillic-ext);
